
.footer-nav {
    color: white;
      display: flex;
      justify-content: space-around; /* Distribuye el espacio entre los divs */
      align-items: flex-start; /* Alinea los divs verticalmente al centro */
      width: 100%;
      padding: 20px 0; /* Espaciado alrededor del footer */
      text-align: center;
      background: #343436;
      @media screen and (max-width: 768px) {
          padding-right: 0px !important;
          padding-top: 6% !important;
      }
}
  
  
  .footer-nav h2 {
      margin: 0; /* Asegura que todos los h2 tengan el mismo margen */
      padding-bottom: 10px; /* Opcional: Espacio debajo del h2 para consistencia */
    }

  
  .footer-nav div {
      flex: 1; /* Cada div toma el mismo espacio */
      padding: 0 10px; /* Opcional: para añadir algo de espacio horizontal entre los divs */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  
  footer {
      flex-shrink: 0;
    }
  
  @media screen and (max-width: 768px) {
      .footer-nav {
        flex-direction: column;
        justify-content: center; /* Distribuye el espacio entre los divs */
        align-items: center; /* Cambia a disposición vertical en pantallas pequeñas */
        padding-right: 0px !important;
        padding-top: 6% !important;
      }
    
      .footer-nav div {
        padding: 10px 0; /* Ajusta el padding para disposición vertical */
      }
    }