* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}


body { /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}

h1, p, h2, h3, h4 {

  font-family: var('--font-inter')
} 

.main-content {
    flex: 1;
  }

