
.prueba1 {
    @media screen and (max-width: 768px) {
        margin-top: 60px !important;
    }
}


.prueba {
    margin-top: 25px !important;
    @media screen and (max-width: 768px) {
        padding-top: 60px !important;
    }
}

.info-header h1 {
    text-align: center;
    margin-top: 7%;
    font-weight: bold;
}

.info-header h3 {
    text-align: center;
    margin-top: 3%;
}

.footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    text-align: center;
    background: #0f0c29; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c2c47, #38346b, #14112d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c2c47, #38346b, #14112d);
    @media screen and (max-width: 768px) {
        padding-right: 0px !important;
        padding-top: 6% !important;
    }
}