
.prueba1 {
    @media screen and (max-width: 768px) {
        margin-top: 60px !important;
    }
}


.prueba {
    margin-top: 25px !important;
    @media screen and (max-width: 768px) {
        padding-top: 60px !important;
    }
}

.info-header h1 {
    text-align: center;
    margin-top: 7%;
    font-weight: bold;
}

.info-header h3 {
    text-align: center;
    margin-top: 3%;
}



#carouselExampleFade {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
}

#carouselExampleFade .carousel-inner {
    width: 100%;
    height: 100%;
}

#carouselExampleFade .carousel-item img {
    height: 55vh;
    min-height: 300px;
    object-fit: cover; 
}

